<div class="about-us-container">
    <h2>Welcome to Our Card Shop!</h2>
    <div>
        <ul>
            
            <li>
              <p>Discover a world of beautifully crafted cards for every occasion.</p>
            </li>
            <li>
              <p>Explore our extensive collection featuring unique designs and heartfelt messages.</p>
            </li>
            <li>
              <p>At our card shop, we believe in the power of thoughtful gestures, and our cards are designed to convey your emotions with grace.</p>
            </li>
            <li>
              <p>Operating hours:</p>
              <ul>
                <li>Monday to Saturday</li>
                <li>8:00 AM to 6:00 PM</li>
              </ul>
            </li>
            <li>
              <p>Our team is dedicated to providing you with exceptional service during your visit.</p>
            </li>
            <li>
              <p>Whether you're celebrating a birthday, expressing gratitude, or sending well wishes, you'll find the perfect card in our collection.</p>
            </li>
            <li>
              <p>Feel free to browse our online catalog or visit our store in person to experience the charm of our handpicked selection.</p>
            </li>
            <li>
              <p>Thank you for choosing our card shop to be a part of your special moments!</p>
            </li>
          </ul>
          


        </div>
    <!-- Add more content as needed -->
    
  </div>

  <footer>
    <div class="logo-container">
      <img src="assets/images/téléchargement.png" class="imagefooter" alt="Your Card Shop Logo" style="height: 50px; margin-right: 10px;">
    </div>
    <div class="container">
        <span >Location: Tunis, Ariana</span>
        <span >||</span>
        <span>&copy; 2023 MARK'S CARD SHOP</span>
    </div>
    
    <div class="social-media-container">
      <a href="https://www.facebook.com/" target="_blank">
        <img src="assets/images/facebook.png" class="imagefooter" alt="Facebook Logo">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/Instagram.png" class="imagefooter" alt="Instagram Logo">
      </a>
    </div>
  </footer>