<footer>
    <div class="logo-container">
      <img src="assets/images/téléchargement.png" class="imagefooter" alt="Your Card Shop Logo" style="height: 50px; margin-right: 10px;">
    </div>
    <div class="container">
        <span >Location: Tunis, Ariana</span>
        <span >||</span>
        <span>&copy; 2023 MARK'S CARD SHOP</span>
    </div>
    
    <div class="social-media-container">
      <a href="https://www.facebook.com/" target="_blank">
        <img src="assets/images/facebook.png" class="imagefooter" alt="Facebook Logo">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/Instagram.png" class="imagefooter" alt="Instagram Logo">
      </a>
    </div>
  </footer>
